<footer class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a href="#top">Nach oben</a>
            </div>
            <hr></div>
        <div class="col-xs-12 col-md-8">
            <p>{settings.phoneNumberGeneral} &copy; <f:cObject typoscriptObjectPath="lib.footerYear" /> //
                <f:format.stripTags><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '50', wrap: ''}" /></f:format.stripTags>
            </p>
        </div>
        <div class="col-xs-12 col-md-4 text-right">
            <f:cObject typoscriptObjectPath="lib.footerMenu" />
        </div>
</footer>
